@charset "utf-8";
/* CSS Document */

body {
	background: #efefef;
	font-family:tahoma, arial, sans-serif;
	font-size:11px;	
	margin: 0;

	}
	
li ,a {
	color:#deba68;
	text-align: right;
	font-size: 19px;
	list-style: none;
	text-transform: uppercase;
	text-decoration: none;
}	

a:hover {
	color:#fefefe
}

.menu-titulo  {
	text-indent: -999999px;
	position: absolute;
}

#geral{
	width: 1000px;
	height: 1031px;
	margin:0 auto;	
}
	
#conteudo-esq {
	width: 633px;
	height: 962px;
	float: left;
	border-right: solid 6px #dfceb2;
}	

#imagem-topo{
	width: 633px;
	height: 270px;
	background: url("imagens/imagem-topo.jpg") no-repeat;
}	

#imagem-baixo {
	width: 633px;
	height: 692px;
	position: absolute;
	background: url("imagens/imagem-baixo.jpg") no-repeat;
}	

#menu-bumba {
	width:311px;
	height:224px;
	margin:75px 0 0 316px;
	border: solid 6px #dfceb2;
	position: absolute;
	background: url(imagens/bumba-hover.jpg) no-repeat;
}	

#menu-bumba ul {
	margin: 40px 22px 0 0;
}	

.link-bumba {
	position: absolute;
	width:312px;
	height:99px;
	margin-top:18px;
}

#lancamento {

}	

#conteudo-dir {
	background: url("imagens/conteudo-direito.jpg") no-repeat top center;
	width: 361px;
	height: 962px;
	float: right;
}	

#mail-blog {
	height:40px;
	margin:24px 0 0 20px;
	width:202px;
}	

#mail {
	width: 50px;
	height: 40px;
	float: left;
	background:url(imagens/mail.png) no-repeat;
}

#blog {
	width: 130px;
	height: 40px;
	float: left;
	margin-left: 21px;
	background: url(imagens/blog-hover.png) no-repeat;
}

#menu-grupo {
	width:318px;
	height:224px;
	margin:25px 0 0 -6px;
	border: solid 6px #dfceb2;
	background: url(imagens/grupo-hover.jpg) no-repeat;
}	

#menu-grupo ul {
	margin: 134px 16px 0 0;
}

.link-grupo {
	position: absolute;
	width:320px;
	height: 78px;
}

#destaques {
	height:222px;
	margin:26px 0 0 27px;
	width:315px;
	background: url(imagens/destaque.jpg)
}	

#menu-dancas{
	width:318px;
	height:224px;
	margin:29px 0 0 -6px;
	border: solid 6px #dfceb2;
	background: url(imagens/dancas-hover.jpg) no-repeat;
}	

#menu-dancas ul {
	margin: 134px 16px 0 0;
}

.link-dancas {
	position: absolute;
	width:320px;
	height:99px;
}

#rodape {
	height: 70px;
	width: 1000px;
	float: left;
	background: url(imagens/rodape.jpg) no-repeat; 
}	

#centro-pop{
	color: #91441e;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: right;
	float: left;
	width: 180px;
	height: 40px;
	margin: 23px 0 0 42px;
}

#boi{
	float: left;
	width: 112px;
	height: 70px;
	margin-left:10px;
	background: url(imagens/boi.png)
}

#fundado {
	color: #91441e;
	font-size: 18px;
	text-transform: uppercase;
	float: left;
	width: 188px;
	height: 40px;
	margin: 27px 0 0 7px;
}

#apoio {
	color: #91441e;
	font-size: 16px;
	text-transform: uppercase;
	float: left;
	width: 52px;
	height: 40px;
	margin: 30px 0 0 85px;
}

#proac-gov {
	float: left;
	width: 220px;
	height: 40px;
	margin: 18px 0 0 6px;
	background: url(imagens/proac-gov.png) no-repeat;
}

#ete {
	float: left;
	width: 48px;
	height: 40px;
	margin: 17px 0 0 26px;
	background: url(imagens/logo-ete.png) no-repeat;
}




